<!DOCTYPE html>
<html>
<head>

<title>Transactions</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

<style>

body{
background:#f5f7fa;
}

.navbar{
background:#1f3b5b;
}

.card{
border:none;
border-radius:15px;
}

</style>

</head>

<body>

<nav class="navbar navbar-dark">

<div class="container">

<a class="navbar-brand fw-bold">

🏦 ABC Bank

</a>

<a href="/customer_dashboard" class="btn btn-light btn-sm">

Dashboard

</a>

</div>

</nav>

<div class="container mt-5">

<div class="card shadow">

<div class="card-header">

<h4>Transaction History</h4>

</div>

<div class="card-body">

<table class="table table-striped">

<tr>

<th>Date</th>
<th>Type</th>
<th>Amount</th>
<th>Status</th>

</tr>

{% for t in transactions %}

<tr>

<td>{{ t.transaction_date }}</td>

<td>{{ t.transaction_type }}</td>

<td>₹ {{ t.amount }}</td>

<td>{{ t.status }}</td>

</tr>

{% endfor %}

</table>

</div>

</div>

</div>

</body>
</html>